#bannerSlider {
	padding: 0;
	margin: 0;
	@media screen and (max-width: 830px) {
			height: 500px;
	}
	@media screen and (max-width: 550px) {
			height: 350px;
	}
	img {
		@media screen and (max-width: 830px) {
			height: 500px;
		}
	}
	img {
		@media screen and (max-width: 550px) {
			height: 350px;
		}
	}
	.carousel-caption {
		bottom: 42%;
		@media screen and (max-width: 550px) {
			bottom: 0%;
		}
	}
	h3 {
		font-size: 50px;
		font-family: 'Noto Sans', sans-serif;
		font-weight: bold;
		@media screen and (max-width: 550px) {
			font-size: 40px;
		}
	}
}