#twoImages {
	padding: 0;
	margin: 0;
	.row {
		margin: 0;
		padding: 0;
	}
	.col-md-6 {
		padding:0;
		margin: 0;
	}
	.nest-parallax {
		background: #e6e6e6;
	}
	.parallax { 
    /* The image used */
    background-image: url("../images/paralax.jpg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	}
}